@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefeff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}


.section {
  width: 100%;
  height: 100vh;
  pointer-events: all;
  background-color: transparent;
  position: relative;
  display: flex;
}

.experience {
  position: absolute;
}

/* NAVIGATION BAR */

.migrantas-title {
  position: absolute;
  left: 10%;
  width: 30%;
  z-index: 10;
}
.nav {
  background-image: url('/header_background.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0px 10%;
  align-items: center;
  z-index: 1;
}

.logo-voces {
  width: 30%;
}
/* SECTION ONE */

.one {
  position: relative;
  background-image: url('/background1.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 150vh;
}

.one-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-one {
  width: 80%;
  height: 100vh;
  display: flex;
  margin-top: 0%;
  flex-direction: row;
  margin-left: 0%;
  justify-content: space-between;
  align-items: center;
}


.people  {
  position: relative;
  height: 70%;
}

.one-greenbox {
  background-image: url('/green-box1.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50%;
}

.flag {
  width: 20%;
}

.greenbox-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: normal;
  color: #fefeff;
  text-align: center;
}

.medium {
  font-weight: 400;
  font-size: 1.75rem;
}

.map {
  position: absolute;
  bottom: -25%;
  right: 20%;
  z-index: 20;
  width: 50%;
}




/* SECTION TWO */

.two {
  height: 200vh;
  background-color: #fefeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.two-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.houses {
  position: absolute;
  width: 100%;
}

.content-two {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.two-yellowbox {
  background-image: url('/yellow-box.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40vh;
  margin-top: 10vh;
}

.yellowbox-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: normal;
  color: #111111;
  text-align: center;
}

.content-two-bottom {
  position: absolute;
  width: 80%;
  z-index: 30;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.two-orangebox {
  background-image: url('/orange-box.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40vh;
  margin-top: 10vh;
}

.orangebox-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: normal;
  color: #fefeff;
  text-align: center;
  margin-left: 10%;
}

.sil {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.garbage {
  position: absolute;
  bottom: -25%;
  width: 100%;
  z-index: 1;
}


/* SECTION THREE */

.three {
  height: 100vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.three-content {
  background-image: url('/gray-paper-background.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.three-top {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.three-green-one {
  background-image: url('/green-box2.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 35vh;
  align-self: flex-end;
}

.three-box-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: normal;
  color: #fefeff;
  margin-left: 10%;
  margin-right: 0%;
}


.three-green-two {
  background-image: url('/green-box3.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 30vh;
  align-self: flex-end;
}

.cloud {
  width: 25%;
  margin-top: 5%;
}
.three-box-text-small {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: normal;
  color: #fefeff;
  margin-left: 10%;
  margin-right: 0%;
}

.three-bottom {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.three-bottom-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 50%;
}

.three-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: normal;
  color: #111111;
}

.three-bottom-text-small {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
  color: #111111;
}






/* SECTION FOUR */

.four {
  height: 200vh;
  background-color: #111010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.four-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  z-index: 3;
}

.four-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.four-main-top {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: normal;
  color: #557c2e;
  width: 50%;
}

.four-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.four-main {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: normal;
  color: #fefeff;
}

.four-image {
  width: 40%;
}

.green {
  color: #557c2e;
}

.bold {
  font-weight: 600;
}

.four-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.four-bottom-one {
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.four-bottom-textbox {
  background-image: url('/white-box1.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 39vh;
}

.four-textbox-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: normal;
  color: #557c2e;
  margin-left: 10%;
  margin-right: 5%;
}

.four-bottom-textbox-two {
  background-image: url('/white-box2.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55vh;
}

.line-one {
  position: absolute;
  top: 80vh;
  left: 0;
  width: 100%;
}
.line-two {
  position: absolute;
  top: 125vh;
  left: 0;
  width: 100%;
}


/* SECTION FIVE */

.five {
  height: 400vh;
  background-color: #111010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.five-content {
  background-image: url('/gray-paper-background2.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 320vh;
  z-index: 3;
}

.line-three{
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
}

.five-top {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 10%;
  align-self: center;
  justify-content: space-between;
}

.five-top-right {
  width: 40%;
}

.five-main {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: normal;
  color: #111111;
}

.five-center {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 10%;
  align-self: center;
  align-items: center;
  flex-direction: column;
}

.five-main-big {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: normal;
  color: #557c2e;
  text-align: center;
}

.video-container {
  background-image: url('/video-box-green.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50vh;
}

.five-main-green {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: normal;
  color: #557c2e;
  text-align: center;
}

.five-circles {
  display: flex;
  flex-direction: row;
}

.circle-one {
  background-image: url('/circle-a.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-two {
  background-image: url('/circle-b.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: normal;
  color: #fefeff;
  text-align: center;
}

.five-bottom {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 2.5%;
  align-self: center;
}

.five-bottom-right {
  width: 50%;
}

.five-girls {
  width: 100%;
}

.five-bottom-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.five-bottom-main-text {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 2.25rem;
  color: #111111;
  margin-bottom: 0;
}

.five-bottom-purple {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: normal;
  color: #604d91;
}

.five-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #111111;
  margin-top: 0;
}

.five-small {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: #111111;
}

.five-audio {
  background-image: url('/purple-band.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 13vh;
}

.content-six {
  background-image: url('/gray-paper-background3.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 115vh;
  z-index: 4;
  margin-top: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.six-main-green {
  margin-top: 10%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: normal;
  color: #557c2e;
  text-align: center;
  width: 50%;
  align-self: center;
}

.six-top {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.six-top-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.six-top-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.six-top-photo {
  width: 75%;
}

.six-top-green-box {
  background-image: url('/green-box4.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  width: 80%;
  margin-left: 20%;
  height: 23vh;
  display: flex;
  align-items: center;
}

.six-green-box-text {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: normal;
  text-align: center;
  color: #fefeff;
  margin-left: 5%;
  margin-right: 5%;
}

.six-green-outline-box {
  background-image: url('/think-box.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  width: 50%;
  margin-left: 20%;
  height: 20vh;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.six-outline-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
  color: #111111;
  margin-left: 5%;
  margin-right: 5%;
}

.six-outline-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 1rem;
  line-height: normal;
  color: #557c2e;
}

/* SECTION SIX  */

.six {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0%;
  background-color: #111111;
}

.six-expanded {
  position: absolute;
  top: -50vh;
  width: 80%;
  height: 75vh;
  background-color: #dededf;
}

.six-content {
  width: 80%;
  height: 100%;
  background-color: #dededf;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.six-content-top {
  width: 90%;
  height: 50vh;
  border-radius: 50px;
  background-color: #4c2884;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.six-content-top-main {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: normal;
  color: #fefeff;
}

.six-top-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  align-items: center;
}

.list-box {
  width: 125px;
  height: 125px;
  background-color: #886ab7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-number {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: normal;
  color: #fefeff;
}

.list-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: normal;
  color: #fefeff;
  text-align: center;
}

.think-box {
  width: 50%;
  margin-top: 1%;
}

.instagram-container {
  width: 90%;
  height: 75vh;
  background-color: aquamarine;
}










@media (max-width: 768px) {



}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



